@using Connect.Models;
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@{
    var type = Model.ContentType.Alias ?? "";
    switch (type)
    {
        case "digitalMenu":
            Layout = "Layouts/DigitalMenu";
            break;
        default:
            Layout = "";
            break;
    }

    

    var triggerColor = Model?.Value("aboutTriggerColor") ?? "ffffff";
    var menuSections = Model?.Value<IEnumerable<BlockListItem>>("menuSection");
    if (menuSections?.Any() ?? false)
    {
        menuSections = menuSections.Where(x => !x.Content.Value<bool>("hide"));
    }

}


<div class="page-content">

    <div class="inner-content">
        
        <!-- COVER IMAGE AND BRAND IMAGE -->
        <partial name="Partials/_Cover" />

        <section class="content-container">

            <!-- SOCIAL MEDIA & PROMO TEXT -->
            <partial name="Partials/_Social" />

            <!-- MENU NAVIGATION -->
            <div class="menu-navigation-bg sticky" id="menuNav">
                <div class="menu-navigation-container">
                    @if (menuSections?.Any() ?? false)
                    {
                        var counter = 0;

                        <nav class="nav swiper mySwiper">
                            <ul class="navigation-list swiper-wrapper">

                                @foreach (var section in menuSections)
                                {
                                    counter++;
                                    var sectionName = section.Content.Value<string>("sectionName") ?? "";

                                    if (section == menuSections.First())
                                    {
                                        <li class="nav-item swiper-slide">
                                            <a href="#" data-link="#category_@counter" class="nav-link active">@sectionName</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item swiper-slide">
                                            <a href="#" data-link="#category_@counter" class="nav-link">@sectionName</a>
                                        </li>
                                    }
                                }

                            </ul>
                        </nav>
                    }
                </div>
            </div>

            <!-- MENU CONTENT -->
            <div class="menu-container">
                @if (menuSections?.Any() ?? false)
                {
                    var counter = 0;

                    @foreach (var section in menuSections.Where(x=> x.Content.Value<bool>("hide") == false))
                    {
                        counter++;

                        var subSections = section.Content.Value<IEnumerable<BlockListItem>>("subSections");
                        var catName = section.Content.Value<string>("sectionName") ?? "";
                        var catIcon = section.Content.Value<IPublishedContent>("groupIcon")?.MediaUrl() ?? "";

                        if (subSections?.Any() ?? false)
                        {
                            var subCount = 0;
                            var firstItemCounter = 0;

                            <div class="category" id="category_@counter">
                                <div class="heading-icon-container">
                                    @if (!string.IsNullOrEmpty(catIcon))
                                    {
                                        <image class="heading-icon" src="@catIcon"></image>
                                    }
                                    <h2 class="heading">@catName</h2>
                                </div>


                                @foreach (var subSection in subSections.Where(x=> x.Content.Value<bool>("hide") == false))
                                {
                                    firstItemCounter++;
                                    subCount++;
                                    var sectionItems = subSection.Content.Value<IEnumerable<BlockListItem>>("sectionItems");
                                    var link = "cat_" + counter + "_sub_" + subCount;

                                    if (sectionItems?.Any() ?? false)
                                    {
                                        bool hideName = subSection.Content.Value<bool>("hideName");

                                        if(!hideName)
                                        {
                                            var subSectionName = subSection.Content.Value<string>("subSectionName") ?? "";

                                            var borderClass = "";
                                            if (firstItemCounter == 1)
                                            {
                                                borderClass = "no-top-border";
                                            }

                                            <div class="sub-cat-name-container @borderClass" id="@link">
                                                <div class="border-container">
                                                    <h2 class="heading">@subSectionName</h2>

                                                </div>
                                            </div>

                                        }


                                        <div class="products-container">

                                            @foreach (var product in sectionItems)
                                            {
                                                var productName = product.Content.Value<string>("itemName") ?? "";
                                                var productDesc = product.Content.Value<string>("itemDescription") ?? "";
                                                var productPhotos = product.Content.Value<IEnumerable<IPublishedContent>>("itemPhotos");
                                                var alias = product.Content.ContentType.Alias;
                                                decimal originalPrice = product.Content.Value<decimal>("originalPrice");
                                                string discountType = product.Content.Value<string> ("discountType") ?? "";
                                                bool hasVariations = false;
                                                @if (alias == "beerBeverage")
                                                {
                                                   if(product?.Content?.Value<IEnumerable<BlockListItem>>("beerVariations")?.Any() ?? false)
                                                   {
                                                        hasVariations = true;
                                                   }

                                                }

                                                var variationsCounter = 0;

                                                if(hasVariations == false)
                                                {
                                                    <div class="product">
                                                        <div class="text-photo-container">
                                                            <div class="product-text">
                                                                <h3>@productName</h3>
                                                                @if (!string.IsNullOrEmpty(productDesc))
                                                                {
                                                                    <p>@productDesc</p>
                                                                }

                                                                @if (!string.IsNullOrEmpty(discountType) && discountType != "Hide")
                                                                {
                                                                    decimal discountAmount = product.Content.Value<decimal>("discountAmount");

                                                                    decimal finalPrice = originalPrice;

                                                                    if (discountType == "Final Price")
                                                                    {
                                                                        finalPrice = discountAmount;
                                                                    }
                                                                    else if (discountType == "Fixed Price")
                                                                    {
                                                                        finalPrice = originalPrice - discountAmount;

                                                                    }
                                                                    else if (discountType == "Percentage")
                                                                    {
                                                                        var discountPercentage = (discountAmount / 100) * (originalPrice / 1);
                                                                        finalPrice = Math.Ceiling((finalPrice - discountPercentage) * 20) / 20;

                                                                    }

                                                                    <p class="final-price has-discount">@finalPrice.ToString("F2")&#8364<span class="original-price">@originalPrice.ToString("F2")&#8364</span></p>

                                                                }
                                                                else
                                                                {
                                                                    <p class="final-price">@originalPrice.ToString("F2")&#8364<span class="original-price"></span></p>

                                                                }

                                                            </div>
                                                            @if (productPhotos?.Any() ?? false)
                                                            {
                                                                var mainPhoto = productPhotos?.FirstOrDefault()?.MediaUrl() ?? "";

                                                                <div class="product-photo-container">
                                                                    <img src="@mainPhoto" class="product-photo">
                                                                </div>
                                                            }

                                                        </div>

                                                        @if (alias == "beerBeverage")
                                                        {
                                                            decimal? alc = product.Content.Value<decimal>("alcohol");
                                                            int? ibu = product.Content.Value<int>("internationalBitternessUnits");
                                                            int? ml = product.Content.Value<int>("millilitre");

                                                            <div class="tags-container" data-filters-type="beer">

                                                                <span class="tag" data-abv="@alc">
                                                                    @alc% ABV
                                                                </span>
                                                                <span class="tag" data-ibu="@ibu">
                                                                    @ibu IBU
                                                                </span>


                                                            </div>
                                                        }
                                                    </div>

                                                }
                                                else
                                                {
                                                    IEnumerable<BlockListItem> variations = null;

                                                    <div class="product">
                                                        <div class="text-photo-container">
                                                            <div class="product-text">
                                                                <h3>@productName</h3>
                                                                @if(!string.IsNullOrEmpty(productDesc))
                                                                {
                                                                    <p>@productDesc</p>
                                                                }

                                                                <div class="swiper-container tabs-buttons" >
                                                                    <div class="swiper-wrapper">
                                                                        @if(alias == "beerBeverage")
                                                                        {
                                                                            decimal? alc = product.Content.Value<decimal>("alcohol");
                                                                            int? ibu = product.Content.Value<int>("internationalBitternessUnits");
                                                                            int? mainMl = product.Content.Value<int>("millilitre");
                                                                            variations = product?.Content?.Value<IEnumerable<BlockListItem>>("beerVariations");

                                                                            <div class="swiper-slide active-tab">@mainMl ml</div>

                                                                            @foreach (var item in variations)
                                                                            {
                                                                                var ml = item.Content.Value<decimal>("millilitre");
                                                                                <div class="swiper-slide">@ml ml</div>
                                                                            }

                                                                        }

  
                                                                    </div>
                                                                    <!--   <div class="swiper-scrollbar"></div> -->
                                                                </div>

                                                                <div class="swiper-container tabs-content" >
                                                                    <div class="swiper-wrapper">

                                                                        @if(alias == "beerBeverage")
                                                                        {
                                                                            <div class="swiper-slide swiper-slide-active">
                                                                                @if (!string.IsNullOrEmpty(discountType) && discountType != "Hide")
                                                                                {
                                                                                    decimal discountAmount = product.Content.Value<decimal>("discountAmount");
                                                                                    decimal finalPrice = originalPrice;

                                                                                    if (discountType == "Final Price")
                                                                                    {
                                                                                        finalPrice = discountAmount;
                                                                                    }
                                                                                    else if (discountType == "Fixed Price")
                                                                                    {
                                                                                        finalPrice = originalPrice - discountAmount;

                                                                                    }
                                                                                    else if (discountType == "Percentage")
                                                                                    {
                                                                                        var discountPercentage = (discountAmount / 100) * (originalPrice / 1);
                                                                                        finalPrice = Math.Ceiling((finalPrice - discountPercentage) * 20) / 20;

                                                                                    }


                                                                                    <p class="final-price has-discount">@finalPrice.ToString("F2")&#8364<span class="original-price">@originalPrice.ToString("F2")&#8364</span></p>

                                                                                }
                                                                                else
                                                                                {
                                                                                    <p class="final-price">@originalPrice.ToString("F2")&#8364<span class="original-price"></span></p>

                                                                                }
                                                                            </div>

                                                                            @foreach (var item in variations)
                                                                            {
                                                                                decimal variationOriginalPrice = item.Content.Value<decimal>("originalPrice");
                                                                                string variationDiscountType = item.Content.Value<string>("discountType") ?? "";

                                                                                @if (!string.IsNullOrEmpty(discountType) && discountType != "Hide")
                                                                                {
                                                                                    decimal vDiscountAmount = item.Content.Value<decimal>("discountAmount");

                                                                                    decimal vFinalPrice = variationOriginalPrice;

                                                                                    if (discountType == "Final Price")
                                                                                    {
                                                                                        vFinalPrice = vDiscountAmount;
                                                                                    }
                                                                                    else if (discountType == "Fixed Price")
                                                                                    {
                                                                                        vFinalPrice = variationOriginalPrice - vDiscountAmount;

                                                                                    }
                                                                                    else if (discountType == "Percentage")
                                                                                    {
                                                                                        var discountPercentage = (vDiscountAmount / 100) * (originalPrice / 1);
                                                                                        vFinalPrice = Math.Ceiling((vFinalPrice - discountPercentage) * 20) / 20;

                                                                                    }

                                                                                    <div class="swiper-slide">
                                                                                        <p class="final-price has-discount">@vFinalPrice.ToString("F2")&#8364<span class="original-price">@originalPrice.ToString("F2")&#8364</span></p>
                                                                                    </div>


                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="swiper-slide">
                                                                                        <p class="final-price">@variationOriginalPrice.ToString("F2")&#8364<span class="original-price"></span></p>
                                                                                    </div>
                                                                                }


                                                                            }

                                                                        }

                                                                    </div>
                                                                </div>

                                                            </div>
                                                            @if (productPhotos?.Any() ?? false)
                                                            {
                                                                var mainPhoto = productPhotos?.FirstOrDefault()?.MediaUrl() ?? "";

                                                                <div class="product-photo-container">
                                                                    <img src="@mainPhoto" class="product-photo">
                                                                </div>
                                                            }

                                                        </div>

                                                        @if (alias == "beerBeverage")
                                                        {
                                                            decimal? alc = product.Content.Value<decimal>("alcohol");
                                                            int? ibu = product.Content.Value<int>("internationalBitternessUnits");
                                                            int? ml = product.Content.Value<int>("millilitre");

                                                            <div class="tags-container" data-filters-type="beer">

                                                                <span class="tag" data-abv="@alc">
                                                                    @alc% ABV
                                                                </span>
                                                                <span class="tag" data-ibu="@ibu">
                                                                    @ibu IBU
                                                                </span>
      

                                                            </div>
                                                        }
                                                    </div>

                                                }
                                            }

                                        </div>
                                }

                            }

                            </div>

                        }

                    }
                }
            </div>

        </section>


        <section class="bottom-container" id="bottomContainer">
            <!-- SEARCH TRIGGER -->
            <div class="navigation-subcategories">
   
                @if(menuSections?.Any() ?? false)
                {
                    var counter = 0;
                    foreach (var section in menuSections)
                    {
                        counter++;
                        var subSections = section.Content.Value<IEnumerable<BlockListItem>>("subSections");

                        <div class="nav-sub-content">

                                @if ((subSections?.Any() ?? false) && subSections.Count() > 1)
                                {
                                    var subCategory = 0;

                                    if (section == menuSections.First())
                                    {
                                        <div class="sub-slide slide-active" data-sub-slide="category_@counter">

                                            <nav class="nav swiper sub-cat-links">
                                                <ul class="navigation-list swiper-wrapper">

                                                    @foreach (var subSection in subSections.Where(x => x.Content.Value<bool>("hide") == false))
                                                    {
                                                        subCategory++;
                                                        var link = "#cat_" + counter + "_sub_" + subCategory;
                                                        var subSectionName = subSection.Content.Value<string>("subSectionName") ?? "";

                                                        if (subSection == subSections.First())
                                                        {
                                                            <li class="sub-nav-item swiper-slide">
                                                            <a href="#" data-link="@link" data-swiper="@(counter-1)" class="sub-nav-link active">@subSectionName</a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="sub-nav-item swiper-slide">
                                                            <a href="#" data-link="@link" data-swiper="@(counter-1)" class="sub-nav-link">@subSectionName</a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </nav>


                                        </div>
                                    }
                                    else
                                    {
                                        <div class="sub-slide" data-sub-slide="category_@counter">
                                            <nav class="nav swiper sub-cat-links">
                                                <ul class="navigation-list swiper-wrapper">

                                                    @foreach (var subSection in subSections.Where(x => x.Content.Value<bool>("hide") == false))
                                                    {
                                                        subCategory++;
                                                        var link = "#cat_" + counter + "_sub_" + subCategory;
                                                        var subSectionName = subSection.Content.Value<string>("subSectionName") ?? "";

                                                        if (subSection == subSections.First())
                                                        {
                                                            <li class="sub-nav-item swiper-slide">
                                                            <a href="#" data-link="@link" class="sub-nav-link active">@subSectionName</a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="sub-nav-item swiper-slide">
                                                            <a href="#" data-link="@link" class="sub-nav-link">@subSectionName</a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </nav>
                                        </div>
                                    }

                                }
                            </div>
                    }
                }

            </div>

            <div class="bottom-search-bg" id="bottomSearch">
                <div class="bottom-search-container">
                    <div class="search-row">
                        <div class="row-inner">
                            <div class="container">
                                <div class="search-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
                                </div>
                                <div class="input-container">
                                    <input id="searchInput" placeholder="Search..." />
                                </div>

                                <div class="close-icon-container" id="closeFullScreen">
                                    <i class="fa fa-close close-icon"></i>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="whiteSpaceLove" style="height:1px;"></div>
                </div>
            </div>
        </section>

    </div>
 
</div>
