@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@{
    var type = Model.ContentType.Alias ?? "";
    switch (type)
    {
        case "digitalMenu":          
            Layout = "Layouts/DigitalMenu";
            break;
        default:
            Layout = "";
            break;
    }

    var coverPhotoUrl = Model?.Value<IPublishedContent>("coverPhoto")?.MediaUrl() ?? "";
    var socialMedia = Model?.Value<IEnumerable<BlockListItem>>("socialMedia");
    var profilePhotoUrl = Model?.Value<IPublishedContent>("profilePhoto")?.MediaUrl() ?? "";
    var brandName = Model?.Value<string>("brandName") ?? "";
    var promoText = Model?.Value<string>("promotionalText") ?? "";
    var hideShareButton = Model?.Value<bool>("hideSocialShare") ?? false;
    var triggerColor = Model?.Value("aboutTriggerColor") ?? "ffffff";
    var mainMenu = Model?.Value<IEnumerable<BlockListItem>>("menuGroup");
}

<div class="page-content">

    <div class="inner-content">
        <section class="top-cover">
            <div class="cover-container">
                <div class="cover-image-container">
                    @if (!string.IsNullOrEmpty(coverPhotoUrl))
                    {
                        <img class="cover-image" src="@coverPhotoUrl">
                    }

                </div>

                
@*                 <div class="search-container">

                    <div class="search-row">
                        <div class="row-inner">
                            <div class="container">
                                <div class="search-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
                                </div>
                                <div class="input-container">
                                    <input placeholder="Search..." />
                                    <i class="fa fa-close close-icon"></i>
                                </div>

                            </div>
                        </div>
                    </div>

                </div> *@


                @if (!string.IsNullOrEmpty(profilePhotoUrl))
                {
                    <div class="brand-image-container">
                        <img class="brand-image" src="@profilePhotoUrl">
                    </div>
                }
            </div>
        </section>

        <section class="content-container">

            <div class="brand-info-container">
                <div class="social-container">
                    @if (socialMedia?.Any() ?? false)
                    {
                        foreach (var social in socialMedia)
                        {
                            var alias = social.Content.ContentType.Alias;
                            var socialLink = social.Content.Value<Link>("socialLink");
                            if (socialLink != null)
                            {
                                var url = socialLink.Url ?? "#";
                                var imageSrc = "";

                                if (alias == "facebookSocial")
                                {
                                    imageSrc = "/images/_3dtheme/light/social/facebook_social.png";
                                }
                                else if (alias == "instagramSocial")
                                {
                                    imageSrc = "/images/_3dtheme/light/social/instagram_social.png";

                                }
                                else if (alias == "tiktokSocial")
                                {
                                    imageSrc = "/images/_3dtheme/light/social/tiktok_social.png";
                                }

                                <a href="@url"><img class="social-icon" src="@imageSrc"></a>

                            }

                        }
                    }
                    @if (!hideShareButton)
                    {
                        <a href="#"><img class="social-icon" src="/images/_3dtheme/light/social/share_social.png" /></a>
                    }
                </div>
                <span class="brand-name">
                    @brandName
                </span>
                <span class="promo-text">
                    @promoText
                </span>
            </div>
            <div class="menu-navigation-bg sticky" id="menuNav">
                <div class="menu-navigation-container">
                    @if (mainMenu?.Any() ?? false)
                    {
                        var counter = 0;

                        <nav class="nav swiper mySwiper">
                            <ul class="navigation-list swiper-wrapper">
                                @foreach (var category in mainMenu)
                                {
                                    counter++;
                                    var catName = category.Content.Value<string>("groupName") ?? "";

                                    if (category == mainMenu.First())
                                    {
                                        <li class="nav-item swiper-slide">
                                            <a href="#" data-link="#category_@counter" class="nav-link active">@catName</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item swiper-slide">
                                            <a href="#" data-link="#category_@counter" class="nav-link">@catName</a>
                                        </li>
                                    }
                                }

                            </ul>
                        </nav>
                    }
                </div>
            </div>
            <div class="menu-container">

                @if (mainMenu?.Any() ?? false)
                {
                    var counter = 0;

                    @foreach (var category in mainMenu)
                    {
                        bool hide = category.Content.Value<bool>("hide");
                        var categoryItems = category.Content.Value<IEnumerable<BlockListItem>>("groupItems");
                        if(!hide && (categoryItems?.Any() ?? false))
                        {
                            counter++;
                            var catName = category.Content.Value<string>("groupName") ?? "";
                            var catIcon = category.Content.Value<IPublishedContent>("groupIcon")?.MediaUrl() ?? "";

                            <section class="category" id="category_@counter">
                                <div class="heading-icon-container">
                                    <image class="heading-icon" src="@catIcon"></image>
                                    <h2 class="heading">@catName</h2>
                                </div>

                                <div class="products-container">

                                    @foreach (var product in categoryItems)
                                    {
                                        var productName = product.Content.Value<string>("itemName") ?? "";
                                        var productDesc = product.Content.Value<string>("itemDescription") ?? "";
                                        decimal originalPrice = product.Content.Value<decimal>("originalPrice");
                                        bool activateDiscount = product.Content.Value<bool>("activateDiscount");
                                        var productPhotos = product.Content.Value<IEnumerable<IPublishedContent>>("itemPhotos");
       
                                        <div class="product">
                                            <div class="product-text">
                                                <h3>@productName</h3>
                                                <p>@productDesc</p>
                                                @if(activateDiscount)
                                                {
                                                    string discountType = product.Content.Value<string>("discountType");
                                                    decimal discountAmount = product.Content.Value<decimal>("discountAmount");

                                                    decimal finalPrice = originalPrice;

                                                    if(discountType == "Final Price")
                                                    {
                                                        finalPrice = discountAmount;
                                                    }
                                                    else if(discountType == "Fixed Price")
                                                    {
                                                        finalPrice = originalPrice - discountAmount;

                                                    }
                                                    else if(discountType == "Percentage")
                                                    {
                                                        var discountPercentage = (discountAmount/100) * (originalPrice/1);
                                                        finalPrice = Math.Ceiling((finalPrice - discountPercentage) * 20) / 20;

                                                    }

                                                    <p class="final-price has-discount">@finalPrice.ToString("F2")&#8364<span class="original-price">@originalPrice.ToString("F2")&#8364</span></p>

                                                }
                                                else
                                                {
                                                    <p class="final-price">@originalPrice.ToString("F2")&#8364<span class="original-price"></span></p>

                                                }

                                            </div>

                                            @if (productPhotos?.Any() ?? false)
                                            {
                                                var mainPhoto = productPhotos?.FirstOrDefault()?.MediaUrl() ?? "";

                                                <div class="product-photo-container">
                                                    <img src="@mainPhoto" class="product-photo">
                                                </div>
                                            }

                                 

                                        </div>

                                    }

                                </div>
                            </section>
                        }

                        

                    }

                }


            </div>



        </section>


        <div class="bottom-search-bg" id="bottomSearch">
            <div class="bottom-search-container">
                <div class="search-row">
                    <div class="row-inner">
                        <div class="container">
                            <div class="search-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#657789" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8" /><line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
                            </div>
                            <div class="input-container">
                                <input id="searchInput" placeholder="Search..." />
                            </div>

                            <div class="close-icon-container" id="closeFullScreen">
                                <i class="fa fa-close close-icon"></i>

                            </div>

                        </div>
                    </div>
                </div>

                <div id="whiteSpaceLove" style="height:1px;"></div>

            </div>


            <div class="search-page-container">
                <div class="filters-container">
                    <div class="clear-filters-container">
                        <span>Clear Filters</span>
                    </div>
                    <div class="filters-checks-container">
                        <h3>Filters</h3>

                        <div class="filter-checks">
                            <nav class="nav swiper mySwiper2">
                                <ul class="navigation-list swiper-wrapper">

                                    <li class="nav-filter swiper-slide">
                                        <span class="nav-item">Vegan</span>
                                    </li>
                                    <li class="nav-filter swiper-slide">
                                        <span class="nav-item">Vegeterian</span>
                                    </li>
                                    <li class="nav-filter swiper-slide">
                                        <span class="nav-item">Spicy</span>
                                    </li>
                                    <li class="nav-filter swiper-slide">
                                        <span class="nav-item">Lactose free</span>
                                    </li>
                                    <li class="nav-filter swiper-slide">
                                        <span class="nav-item">Vegan</span>
                                    </li>

    @*                                 @foreach (var category in mainMenu)
                                    {
                                        var catName = category.Content.Value<string>("groupName") ?? "";

                                        if (category == mainMenu.First())
                                        {
                                            <li class="nav-item swiper-slide">
                                                <a href="#" active">@catName</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item swiper-slide">
                                                <a href="#" >@catName</a>
                                            </li>
                                        }
                                    } *@

                                </ul>
                            </nav>

                        </div>
         
                    </div>
@*                     <div class="sort-filter-container">
                        <h3>Sort By</h3>
                    </div> *@
                </div>
            </div>
        </div>


    </div>
 
</div>
